<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.oletizi.audiotools.backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{AKAI_BACKUP_PATH}}</string>
        <string>batch</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{SCHEDULE_HOUR}}</integer>
        <key>Minute</key>
        <integer>{{SCHEDULE_MINUTE}}</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>{{LOGS_DIR}}/backup.log</string>
    <key>StandardErrorPath</key>
    <string>{{LOGS_DIR}}/backup.error.log</string>
</dict>
</plist>
