[submodule "JUCE"]
	path = libs/JUCE
	url = git@github.com:oletizi/JUCE.git
[submodule "DaisySP"]
	path = DaisySP
	url = git@github.com:oletizi/DaisySP.git
[submodule "test/googletest"]
	path = test/googletest
	url = git@github.com:oletizi/googletest.git
[submodule "reverbDattorro-scverb"]
	path = reverbDattorro-scverb
	url = git@github.com:oletizi/reverbDattorro-scverb.git
[submodule "miniaudio"]
	path = miniaudio
	url = git@github.com:oletizi/miniaudio.git
[submodule "stk"]
	path = libs/stk
	url = git@github.com:oletizi/stk.git
[submodule "libs/rtmidi"]
	path = libs/rtmidi
	url = git@github.com:oletizi/rtmidi.git
[submodule "libs/libDaisy"]
	path = libs/libDaisy
	url = git@github.com:oletizi/libDaisy.git
[submodule "libs/TeensyAudio"]
	path = libs/TeensyAudio
	url = git@github.com:oletizi/TeensyAudio.git
[submodule "libs/Soundpipe"]
	path = libs/Soundpipe
	url = git@github.com:oletizi/Soundpipe.git
[submodule "libs/du-ino"]
	path = libs/du-ino
	url = git@github.com:oletizi/du-ino.git
[submodule "libs/sfizz"]
	path = libs/sfizz
	url = git@github.com:oletizi/sfizz.git
[submodule "libs/rapidyaml"]
	path = libs/rapidyaml
	url = git@github.com:oletizi/rapidyaml.git
[submodule "libs/stmlib"]
	path = libs/stmlib/stmlib
	url = git@github.com:oletizi/stmlib.git
