/cmake-build-debug/
/cmake-build/
/.idea/
/build/
/.vscode/
/modules/daisy/fx/multifx/build/
/modules/daisy/fx/delayfx/build/
/modules/daisy/fx/reverbfx/build/
/modules/daisy/sampler/build/
/modules/daisy/workouts/sandbox/build/
