/cmake-build-debug/
/cmake-build/
/.idea/
/build/
/.vscode/
/modules/ol_daisy/fx/multifx/build/
/modules/ol_daisy/fx/delayfx/build/
/modules/ol_daisy/fx/reverbfx/build/
/modules/ol_daisy/sampler/build/
/modules/ol_daisy/workouts/sandbox/build/
/modules/ol_daisy/workouts/adc/build/
/modules/ol_daisy/workouts/display/build/
/modules/ol_daisy/workouts/uart/build/
/modules/ol_teensy/workouts/uart/build/
/modules/ol_daisy/workouts/serialization/build/
/modules/ol_teensy/app/synth/build/
/modules/ol_daisy/app/synth/build/
