[submodule "JUCE"]
	path = JUCE
	url = git@github.com:oletizi/JUCE.git
[submodule "DaisySP"]
	path = DaisySP
	url = git@github.com:oletizi/DaisySP.git
[submodule "test/googletest"]
	path = test/googletest
	url = git@github.com:oletizi/googletest.git
